In [1]:
import pandas as pd
df =  pd.read_csv("financials.csv")
df.head()

,Unnamed: 0,student_id,student_major,student_age,student_gpa,is_undergrad,scholarship_percentage,student_outstanding_fees,max_credits/semester,student_name
0,0,1,Science,24,3.91,yes,35,0,16,Mariam Naser
1,1,2,Engineering,23,0.92,yes,0,0,0,Ahmed Yehia
2,2,3,Computer Science,20,1.10,yes,0,0,0,Toaa Youssef
3,3,4,Mathematics,22,3.73,yes,35,0,16,Moustafa Tamer
4,4,5,Science,21,1.59,yes,0,0,12,Mariam Tamer

In [60]:
    import sqlite3
    conn = sqlite3.connect('university.db')

    query = 'SELECT student_id, student_major FROM students'
    df = pd.read_sql_query(query, conn)

    df_grouped = df.groupby("student_major")["student_id"].count()

    conn.close()

    data = [{"major": major, "value": count} for major, count in zip(df_grouped.index.tolist(), df_grouped.tolist())]
    print(data)

[{'major': 'Computer Science', 'value': 766}, {'major': 'Engineering', 'value': 738}, {'major': 'Mathematics', 'value': 731}, {'major': 'Science', 'value': 765}]

In [100]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('university.db')

query = """SELECT student_major, student_batch, count(student_id) as count FROM students
         GROUP BY student_major, student_batch"""

df = pd.read_sql_query(query, conn)
df.set_index(["student_major", "student_batch"], inplace=True)

conn.close()

result = {}

for key, value in df.iterrows():
    category, year = key
    if category not in result:
        result[category] = []
    result[category].append({"ax": str(year), "ay": value['count']})

for category in result:
    result[category] = sorted(result[category], key=lambda x: x["ax"])

result = dict(sorted(result.items()))
print(result)

                                count
student_major    student_batch
Computer Science 2020              91
                 2021             192
                 2022             207
                 2023             186
                 2024             103
Engineering      2020              85
                 2021             186
                 2022             208
                 2023             178
                 2024              95
Mathematics      2020             100
                 2021             184
                 2022             155
                 2023             168
                 2024              91
Science          2020              92
                 2021             187
                 2022             219
                 2023             179
                 2024              94
{'Computer Science': [{'ax': '2020', 'ay': 91}, {'ax': '2021', 'ay': 192}, {'ax': '2022', 'ay': 207}, {'ax': '2023', 'ay': 186}, {'ax': '2024', 'ay': 103}], 'Engineering': [{'ax': '2020', 'ay': 85}, {'ax': '2021', 'ay': 186}, {'ax': '2022', 'ay': 208}, {'ax': '2023', 'ay': 178}, {'ax': '2024', 'ay': 95}], 'Mathematics': [{'ax': '2020', 'ay': 100}, {'ax': '2021', 'ay': 184}, {'ax': '2022', 'ay': 155}, {'ax': '2023', 'ay': 168}, {'ax': '2024', 'ay': 91}], 'Science': [{'ax': '2020', 'ay': 92}, {'ax': '2021', 'ay': 187}, {'ax': '2022', 'ay': 219}, {'ax': '2023', 'ay': 179}, {'ax': '2024', 'ay': 94}]}

In [274]:
import sqlite3
import pandas as pd
import random

selected_course = "CSAI 101"

conn = sqlite3.connect('university.db')
query = f"""SELECT courses.course_code, instructors.instructor_rating,instructors.instructor_name,course_semester, courses.course_year
FROM courses
INNER JOIN instructors ON courses.course_instructor = instructors.instructor_id
where course_code like '{selected_course}'"""
df = pd.read_sql_query(query, conn)
conn.close()
df["instructor_rating"] = round(df["instructor_rating"] + random.uniform(-0.5, 0.5), 2)
df["instructor_rating"] = df["instructor_rating"].apply(lambda x: 5 if x > 5 else x)
minimum = df["instructor_rating"].min()
mean = round(df["instructor_rating"].mean(), 2)
maximum = df["instructor_rating"].max()
list = []
# drop duplicates on instructor name,rating, and year
for i in df.iterrows():
    list.append(
        {"instructor_name": i[1]["instructor_name"] + ", " + i[1]["course_semester"] + " " + str(
            i[1]["course_year"]), "minimum_score": minimum,
         "actual": round((i[1]["instructor_rating"] + random.uniform(-0.5, 0.5)), 2),
         "average": mean, "maximum_score": maximum})
conn.close()
print(list)

[{'instructor_name': 'Abdelrahman Yehia, Fall 2019', 'minimum_score': 1.48, 'actual': 4.7, 'average': 3.05, 'maximum_score': 4.76}, {'instructor_name': 'Esraa Tamer, Fall 2019', 'minimum_score': 1.48, 'actual': 2.79, 'average': 3.05, 'maximum_score': 4.76}, {'instructor_name': 'Esraa Tamer, Spring 2019', 'minimum_score': 1.48, 'actual': 2.78, 'average': 3.05, 'maximum_score': 4.76}, {'instructor_name': 'Sabah Khalid, Spring 2020', 'minimum_score': 1.48, 'actual': 3.43, 'average': 3.05, 'maximum_score': 4.76}, {'instructor_name': 'Yousra Youssef, Summer 2020', 'minimum_score': 1.48, 'actual': 1.95, 'average': 3.05, 'maximum_score': 4.76}, {'instructor_name': 'Mohamed Yehia, Spring 2020', 'minimum_score': 1.48, 'actual': 2.98, 'average': 3.05, 'maximum_score': 4.76}, {'instructor_name': 'Naser Abdelrahman, Summer 2021', 'minimum_score': 1.48, 'actual': 4.7, 'average': 3.05, 'maximum_score': 4.76}, {'instructor_name': 'Moustafa Mahmoud, Spring 2021', 'minimum_score': 1.48, 'actual': 3.45, 'average': 3.05, 'maximum_score': 4.76}, {'instructor_name': 'Yehia Youssef, Fall 2021', 'minimum_score': 1.48, 'actual': 2.11, 'average': 3.05, 'maximum_score': 4.76}, {'instructor_name': 'Mahmoud Tamer, Spring 2022', 'minimum_score': 1.48, 'actual': 1.84, 'average': 3.05, 'maximum_score': 4.76}, {'instructor_name': 'Esraa Abdelrahman, Summer 2022', 'minimum_score': 1.48, 'actual': 4.65, 'average': 3.05, 'maximum_score': 4.76}, {'instructor_name': 'Yousra Youssef, Spring 2022', 'minimum_score': 1.48, 'actual': 2.2, 'average': 3.05, 'maximum_score': 4.76}, {'instructor_name': 'Yehia Mahmoud, Summer 2023', 'minimum_score': 1.48, 'actual': 1.25, 'average': 3.05, 'maximum_score': 4.76}, {'instructor_name': 'Yehia Mahmoud, Fall 2023', 'minimum_score': 1.48, 'actual': 1.46, 'average': 3.05, 'maximum_score': 4.76}, {'instructor_name': 'Naser Abdelrahman, Summer 2023', 'minimum_score': 1.48, 'actual': 4.09, 'average': 3.05, 'maximum_score': 4.76}, {'instructor_name': 'Mohamed Yehia, Fall 2024', 'minimum_score': 1.48, 'actual': 3.32, 'average': 3.05, 'maximum_score': 4.76}, {'instructor_name': 'Esraa Abdelrahman, Summer 2024', 'minimum_score': 1.48, 'actual': 4.29, 'average': 3.05, 'maximum_score': 4.76}, {'instructor_name': 'Khalid Mahmoud, Summer 2024', 'minimum_score': 1.48, 'actual': 2.28, 'average': 3.05, 'maximum_score': 4.76}]

I87

In [238]:

major = "Data Science"

conn = sqlite3.connect('university.db')

query = """SELECT distinct(course_title) FROM courses
  """

pandas_query = f"SELECT distinct(course_code) FROM courses WHERE course_title LIKE '%{major}%'"
df = pd.read_sql_query(pandas_query, conn)
df_m = pd.read_sql_query(query, conn)

courses = df["course_code"].tolist()
courses_m = df_m["course_title"].tolist()

conn.close()
print(courses)
print(courses_m)

['CSAI 101', 'CSAI 102', 'CSAI 151', 'CSAI 201', 'CSAI 202', 'CSAI 203', 'CSAI 204', 'CSAI 205', 'CSAI 251', 'CSAI 252', 'CSAI 253', 'CSAI 301', 'CSAI 399', 'CSAI 498', 'CSAI 499', 'DSAI 103', 'DSAI 104', 'DSAI 201', 'DSAI 202', 'DSAI 203', 'DSAI 305', 'DSAI 307', 'DSAI 308', 'DSAI 325', 'DSAI 352', 'DSAI 353', 'DSAI 402', 'DSAI 403', 'DSAI 406', 'DSAI 413', 'DSAI 414', 'DSAI 415', 'DSAI 416', 'DSAI 417', 'DSAI 418', 'DSAI 427', 'DSAI 431', 'DSAI 433', 'DSAI 456', 'DSAI 473', 'DSAI 490']
['Data Science', 'Information Technology', 'Software Engineering', 'Mathematics', 'Engineering', 'Science']